{% extends "base.html" %}
{% load endless %}

{% block sidebar %}
        {% for feed in feeds_for_topics %}
                <li><a href="/topic/{{ feed.topic }}">{{ feed.topic }}</a></li>
        {% endfor %}

{% endblock %}

{% block reader %}
    <div class='reader'>
        {% paginate articles %}
            {% for article in articles %}
            
                <div class='article'>
                    {% if article.starred == True %}
                            <a href='/star-article/{{ article.id }}' id='starred_article'><i class='icon-star'></i></a>
                    {% else %}
                            <a href='/star-article/{{ article.id }}' id='not_starred_article'><i class='icon-star-empty'></i></a>
                    {% endif %}

                    <p class='feed_title'>{{ article.feed_title }}</p>

                    <div class='article_title_div'>
                    <a href="{{ article.url }}" class='article_title'>{{ article.title }}</a>
                    </div>

                    <div class='published_date'>
                    <p>{{ article.published_date }}</p>
                    </div>

                </div>

            {% endfor %}
        {% show_pages %}
    </div>
{% endblock %}